VITE_FIREBASE_API_KEY=AIzaSyDN3XRaAtp6kkiykJc-6PqoLRIsCl4JqKU
VITE_FIREBASE_AUTH_DOMAIN=toyota-payroll.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=toyota-payroll
VITE_FIREBASE_STORAGE_BUCKET=toyota-payroll.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=632124039373
VITE_FIREBASE_APP_ID=1:632124039373:web:3787368a2c2f30c33c4984
VITE_FIREBASE_MEASUREMENT_ID=G-9RQYDQ30PS
VITE_USE_FIREBASE_EMULATORS=false
